<article class="article">
	<header class="article--header">
		<a href="{{ article.url }}">
			{% Title article.data.title, "article--title" %}
		</a>
		<p class="article--date">{{ article.data.date | friendlyDate }}</p>
	</header>

	{{ article.data.content | safe }}
</article>
