---
layout: layouts/base.njk
---
<header>
	<div class="max-w">
		{% include "masthead-small.njk" %}
		<!-- {% include "components/nav.njk" %} -->
	</div>
</header>

<main>
	<article class="article">
		<header class="article--header">
			{% Title title, "article--title" %}
			<p class="article--date">{{ date | friendlyDate }}</p>
		</header>

		{{ content | safe }}
	</article>

	{% ArticleFooter "Subscribe to the feed" %}
		<p class="[][][ margin-bottom:1 ]">Add the <strong>{{ site.title}}</strong> feed to your RSS service or feed reader and follow along as I fumble my way through the ups and downs of programming and web development.</p>
		{% Button "/mment/subscribe" %}Subscribe{% endButton %}
	{% endArticleFooter %}
</main>

<script>
(function()
{
	if( !document.querySelectorAll )
	{
		return;
	}

	function slugify( string )
	{
		return string.toLowerCase()
			.replace( /\s/g, "-" )
			.replace( /[^a-z0-9\-]/g, "" );
	}

	document.querySelectorAll( "main .article h3, main .article h4" ).forEach( function( elHeading )
	{
		if( !elHeading.id )
		{
			elHeading.id = slugify( elHeading.innerText );
		}

		var elLink = document.createElement( "a" );
		elLink.href = "#" + elHeading.id;
		elLink.classList.add( "article--anchor" );

		elHeading.parentNode.insertBefore( elLink, elHeading );
		elLink.appendChild( elHeading );
	});
})();
</script>
