<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% if title %}{{ title | smartypants | safe }} • {{ site.title }}{% else %}{{ site.title }} • {{ site.description }}{% endif %}</title>

	<meta name="description" content="{% if comment %}{{ comment }}{% else %}{{ site.description }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if title %}{{ title | smartypants | safe }} — {% endif %}{{ site.title }}">
	<meta property="og:description" content="{% if comment %}{{ comment }}{% else %}{{ site.description }}{% endif %}">
	{% if image %}<meta property="og:image" content="{{ image }}">{% endif %}

	<meta name="twitter:title" content="{% if title %}{{ title | smartypants | safe }} — {% endif %}{{ site.title }}">
	<meta name="twitter:description" content="{% if comment %}{{ comment }}{% else %}{{ site.description }}{% endif %}">
	{% if image %}
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:image" content="{{ image }}">
	{% else %}
	<meta property="twitter:card" content="summary">
	{% endif %}

	<link href="https://twitter.com/ashur" rel="me">
	<link href="https://github.com/ashur" rel="me">

	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.feed_url }}">

	<link rel="preload" href="/fonts/tofinopronarrow-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/tofinopro-semibold.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/tofinopro-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/tofinoprocond-medium.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<div class="contents">
		{{ content | safe }}
	</div>

	<footer>
		<div class="max-w">
			<p><strong>{{ site.title }}</strong>. Made with <a href="https://11ty.dev">Eleventy</a>, <a href="https://netlify.com">Netlify</a>, <a href="https://panic.com/nova">Nova</a>, and <a href="https://tailwindcss.com">Tailwind</a>.</p>
		</div>
	</footer>
</body>
</html>
