---
layout: layouts/base.njk
---
<header>
	<div class="max-w">
		{% include "masthead.njk" %}
		{% include "components/nav.njk" %}
	</div>
</header>

<main class="[][][ main--compensate ]">

{%- for article in collections.publishedArticles -%}
	{% if loop.index === 2 %}
		{% include "components/all-stars.njk" %}
	{% endif %}

	{% include "article.njk" %}
{%- endfor -%}

</main>
