---
layout: layouts/base.njk
---
<header>
	<div class="max-w">
		{% include "masthead-small.njk" %}
		<!-- {% include "components/nav.njk" %} -->
	</div>
</header>

<main class="[][ main--compensate ][]">
	<article class="page">
		<header>
			{% Title title, "page--title" %}
		</header>

		{% Content content %}
	</article>
</main>
