<section id="all-stars" class="all-stars">
	<div class="max-w">
		<h3 class="all-stars--title">All-Stars</h3>
		<p class="all-stars--description">Stories and links I&rsquo;ve recently faved</p>

		<div class="all-stars--links">
		{%- for link in allStars -%}
			<a class="all-stars--link" href="{{ link.url }}">
				<div class="all-stars--link-image" role="img" style="background-image: url( {{ link.imageUrl }} );"></div>
				<h4 class="all-stars--link-title">{{ link.title }}</h4>
				<p class="all-stars--link-hostname">{{ link.hostname }}</p>
			</a>
		{%- endfor -%}
		</div>
	</div>
</section>
