@tailwind base;

html, body {
	@apply
		h-full
}

body {
	line-height: 1.6;
	@apply
		flex
		flex-col
		font-serif
}

.contents {
	flex: 1 0 auto;
}

.strike {
	@apply line-through
}

/* Shared */
.masthead p a:hover, footer a, article figcaption a {
	@apply
		underline
}

/* Layout */
.max-w, main > article > :not(img):not(code):not(pre):not(iframe) {
	@apply
		px-4
}
	@screen sm {
		.max-w, main > article > :not(img):not(code):not(pre):not(iframe) {
			@apply
				px-16
		}
	}

.max-w, main > article {
	@apply
		max-w-4xl
		mx-auto
}

/* Header */
.contents > header {
	@apply
		bg-teal-500
		py-4
}
	.contents > header a:hover {
		@apply
			text-white
	}

	@screen sm {
		@apply
			py-6
	}

.masthead:not(.small) {
	@apply
		pt-4 pb-8
}
	@screen sm {
		.masthead:not(.small) {
			@apply
				py-20
		}
	}

.masthead p {
	font-family: "tofino";
	@apply
		text-sm
		text-teal-100
}

	.masthead .cursor {
		animation: blink 1.2s infinite;

		@apply
			border-l-2 border-blue-500
	}

	@keyframes blink {
		  0% { opacity: 1.0 }
		 49% { opacity: 1.0 }
		 60% { opacity: 0.0 }
		 99% { opacity: 0.0 }
		100% { opacity: 1.0 }
	}

h1 {
	font-family: "tofino-condensed";
	@apply
		inline-block
		mx-auto mb-2

		font-medium
		leading-none
		text-white
		text-5xl
		uppercase
}
	@screen sm {
		@apply
			text-6xl
	}
	.masthead.small h1 {
		@apply
			text-xl
	}

nav {
	font-family: "tofino";
	@apply
		scrolling-touch
		text-base
		text-teal-100
}
	nav li {
		@apply
			inline-block
	}
	nav li + li {
		@apply
			ml-4
	}



/* Main */
body main {
	@apply
		pt-8
}

/* Article */
.article + .article {
	@apply
		mt-16
}

.article--header {
	@apply
		mb-8
}

.article--date {
	font-family: "tofino";
	@apply
		mb-2
		text-sm
		text-gray-700
}

.article--anchor, .article--title {
	@apply
		inline-block
}

.article--anchor:hover h3:after, .article--anchor:hover h4:after {
	content: "#";
	@apply
		absolute
		ml-1
		text-gray-400
}
	@screen sm {
		.article--anchor:hover h3:after, .article--anchor:hover h4:after {
			content: none;
		}

		.article--anchor:hover h3:before, .article--anchor:hover h4:before {
			content: "#";
			@apply
				absolute
				-ml-6
				text-gray-400
		}
	}

.article--title, .page--title {
	font-family: "tofino-condensed";
	@apply
		leading-none
		text-5xl
		text-gray-800
		tracking-tight
}
	.article--title:hover {
		@apply
			text-teal-800
	}

	@screen sm {
		.article--title, .page--title {
			@apply
				text-5xl
		}
	}

.article--title {
	@apply
		mb-4
}

.page--title {
	@apply
		mb-8
}

.article h3, .page h3 {
	font-family: "tofino-narrow";
	@apply
		pt-4
		mb-4

		font-normal
		leading-tight
		text-3xl
		text-gray-800
}

.article h4, .page h4 {
	font-family: "tofino";
	@apply
		pt-4
		mb-4

		font-bold
		text-gray-800
		tracking-wide
		uppercase
}

.article p {
	@apply
		mb-6
		text-base
}

.article blockquote {
	margin-left: 2rem;

	@apply
		border-l-8
		border-teal-200
		pl-4
}
	@screen sm {
		.article blockquote {
			margin-left: 6rem;
			margin-right: 6rem;
		}
	}

.article aside {
	font-family: "tofino";
	@apply
		bg-gray-200
		text-gray-800
		mb-8
		py-8
}
	@screen sm {
		.article aside {
			@apply
				shadow-lg
				rounded
		}
	}

.article aside a {
	text-decoration: underline;
}

.article strong {
	font-family: "tofino";
}

.article ul {
	@apply
		list-disc
}

.article ol {
	@apply
		list-decimal
		mb-4
}

.article li {
	@apply
		ml-4
		mb-1
		pl-2
}

.article ol li {
	@apply
		mb-0
}

article > pre code {
	@apply
		block
		w-full
		px-4 py-6
		overflow-x-scroll
		scrolling-touch
		bg-gray-800
		text-teal-200
		text-sm
		whitespace-pre
}
	@screen sm {
		article > pre code {
			@apply
				p-8
			}
	}

.article p a, .article li a, .page p a {
	@apply
		underline
}

.article blockquote code, .article p code, .article li code, .page p code {
	@apply
		bg-indigo-100
		text-indigo-700
		text-sm
}

.article p code,
.page p code {
	overflow-wrap: break-word;
}

article figcaption {
	font-family: "tofino";
	max-width: 72ch;
	margin-right: auto;
	margin-left: auto;
	@apply
		-mt-2
		mb-12
		text-sm
		text-center
		text-gray-700
}

article figcaption.credit {
	font-family: "tofino";
	@apply
		-mt-2
		mb-8
		text-xs
		text-right
		text-gray-500
}

article > pre code, article > img, article > iframe {
	box-sizing: border-box;
	@apply
		my-6
}

article > picture + p {
	@apply
		mt-6
}


/**
 * Components
 */

.article-footer {
	font-family: "tofino";

	@apply
		mt-16
		bg-gray-200
		text-gray-800
		text-sm
}
.article-footer > * {
	@apply
		py-8
}
.article-footer-title {
	@apply
		leading-none
		font-bold
		text-lg
}
.article-footer > * > * + * {
	@apply
		mt-4
}

/* All-Stars -- */
.all-stars {
	font-family: "tofino";
	@apply
		my-8
		py-8
		bg-gray-100
}
	@screen sm {
		.all-stars {
			@apply
				my-16
				py-16
		}
	}

.all-stars--title {
	@apply
		mb-1
		font-semibold
		tracking-wider
		uppercase
}
	.all-stars--title:after {
		content: "\2605";
			@apply
				ml-1
	}

.all-stars--description {
	@apply
		relative
		text-gray-600
		text-sm
}
	.all-stars--description:before {
		@apply
			pr-1
	}

.all-stars--links {
	@apply
		flex
		flex-wrap
		border-gray-400 border-t
		mt-8
		p-0
}
.all-stars--link {
	@apply
		border-gray-400 border-b
		w-full
		py-6
}
	@screen sm {
		.all-stars--link {
			@apply
				w-1/2
		}
		.all-stars--link:nth-of-type( 2n - 1 ) {
			@apply
				border-r
				pr-6
		}
		.all-stars--link:nth-of-type( 2n ) {
			@apply
				pl-6
		}
	}
	@screen md {
		.all-stars--link {
			@apply
				w-1/3
		}
		.all-stars--link:nth-of-type( 1 ), .all-stars--link:nth-of-type( 4n ) {
			@apply
				border-r-0
				pr-6 pl-0
		}
		.all-stars--link:nth-of-type( 2 ), .all-stars--link:nth-of-type( 5 ) {
			@apply
				border-r border-l
				px-6
		}
		.all-stars--link:nth-of-type( 3n ) {
			@apply
				border-r-0
				pr-0 pl-6
		}
	}

.all-stars--link-title {
	font-family: "tofino";
	@apply
		mb-1
		font-semibold
		leading-snug
		normal-case
		text-gray-900
		text-sm
}

.all-stars--link-image {
	background: center no-repeat;
	background-size: cover;

	@apply
		rounded
		bg-gray-300
		w-full
		h-32
		mb-3
}

.all-stars--link-hostname {
	@apply
		font-sans
		leading-tight
		text-gray-500
		text-sm
}

.button {
	@apply
	inline-block
		bg-gray-800
		px-8
		py-2
		rounded
		font-semibold
		text-gray-100
}
.button:hover {
	@apply
		bg-teal-600
		text-white
}

.main--compensate {
	@apply
		pb-8
}

/* Footer */
footer {
	font-family: "tofino";
	@apply
		flex-shrink-0

		py-8
		bg-gray-900
		text-gray-400
		text-sm
}

footer a {
	@apply
		underline
}

footer code {
	@apply
		block
		mt-4
		font-mono
		text-teal-200
		text-xs
}

/* Media Queries */
@screen sm {
	/* Main */
	body main {
		@apply
			pt-8
	}

	article > code {
		@apply
			p-8
			text-base
	}

	article > pre code, article > img, article > iframe {
		@apply
			my-8
	}

	.article-footer {
		@apply
			mb-0
			py-4
	}

	footer {
		@apply
			py-16
	}
}

@screen lg {
	/* Main */
	body main {
		@apply
			pt-24
	}

	/* Article */
	article > pre code, article > img, .article-footer, article > iframe, article > picture img {
		@apply
			shadow-lg
			rounded
	}

	.article-footer {
		@apply
			mb-24
	}

	.main--compensate {
		@apply
			pb-24
	}
}

@media (prefers-reduced-motion: reduce) {
	.masthead .cursor {
		animation: none;
	}
}

@font-face {
	font-family: 'tofino';
	src: url('/fonts/tofinopro-regular.woff2') format('woff2'),
		 url('/fonts/tofinopro-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'tofino';
	src: url('/fonts/tofinopro-semibold.woff2') format('woff2'),
		 url('/fonts/tofinopro-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'tofino-condensed';
	src: url('/fonts/tofinoprocond-medium.woff2') format('woff2'),
		 url('/fonts/tofinoprocond-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'tofino-narrow';
	src: url('/fonts/tofinopronarrow-regular.woff2') format('woff2'),
		 url('/fonts/tofinopronarrow-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'tofino-narrow';
	src: url('/fonts/tofinopronarrow-semibold.woff2') format('woff2'),
		 url('/fonts/tofinopronarrow-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
