---
permalink: /mment/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ site.title }}</title>
	<link href="{{ site.feed_url | url | absoluteUrl(site.url) }}" rel="self"/>
	<link href="{{ site.url }}"/>
	<id>{{ site.url }}</id>
	<author>
		<name>{{ site.author }}</name>
	</author>
	{%- for article in collections.publishedArticles %}
	{% set absolutePostUrl %}{{ article.url | url | absoluteUrl(site.url) }}{% endset %}
	{% set replyLink %}<hr><p><a href="mailto:{{ site.email }}?subject={{ site.title }}:%20{{ article.data.title }}">Reply via email</a></p>{% endset %}
	<entry>
		<title>{{ article.data.title }}</title>
		<author>
			<name>{{ site.author }}</name>
		</author>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ article.date | rssDate }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content type="html">{{ article.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }} {{ replyLink | escape }}</content>
	</entry>
	{%- endfor %}
</feed>
